# IDEs
.vscode
.idea

# Build
**/target
**/build
**/bin
**/test-results

# aeron & other binaries
*.jar
**/aeron-archive

# Generated configuration example and cargo-chef outputs
**/output.json
**/output.yaml
**/recipe.json
